/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2021, 4:08:01 PM
    Author     : dtrongphuc
*/

.cart-wrapper {
    position: sticky;
    top: 5rem;
}

.checkout-table__input {
    width: 60px;
}