/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2021, 4:08:01 PM
    Author     : dtrongphuc
*/

.checkout-table__input {
    width: 60px;
}

.cart-wrapper {
    position: sticky;
    top: 5rem;
    z-index: 100;
}

.btn-cart {
    --size: 60px;
    width: var(--size);
    height: var(--size);

    position: sticky;
    top: 5rem;
    background-color: #ffffff;
    cursor: pointer;
    transition: all ease 0.2s;
}

.btn-cart:hover {
    background-color: #f8f8f8;
}

.cart-quantity {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 6px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    border: 1px solid #ffffff;
}

.cart-body {
    display: none;
    position: absolute;
    top: 100%;
    right: 36px;
    width: 360px;
    transform: translate3d(0, 0 ,0);
}

.cart-body.active {
    display: block;
}

#cart-notify.hidden {
    visibility: collapse;
}